body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    gap: 12px;
    justify-content: center;
    margin: 30px auto;
}

.cell {
    width: 110px;
    height: 110px;
    background: #1b1b2f;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.cell:hover {
    background: #e43f5a;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    background: #e43f5a;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.winner {
    font-size: 60px;
    margin-top: 100px;
    color: #e43f5a;
}
